
/**Tema:

Espacial.

**/


/** Cores: 

Preto: #0c0c0c
Preto: #121212

Verde Espacial: #0D630D
Verde Nebuloso: #49FF00

Azul Galáctico: #0B3D91
Azul Estelar: #00c3ff

**/

/**Bem Vindo ao meu Site**/








/**Configurações Globais**/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0c0c0c;
}

/**Menu**/

header {
    background-color: #121212;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; /* Garante que o header esteja acima de outros elementos */
}

.logo {
    font-size: 1.5em;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.logo a span {
    font-weight: bold;
    background: linear-gradient(45deg, #49FF00, #eaeaea, #00c3ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: moveGradient 3s ease infinite;
}

nav {
    margin-left: auto;
    margin-right: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #00c3ff;
    border-radius: 8px;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #000000;
        width: 200px;
        padding: 10px;
        border-radius: 5px;
    }
    nav ul.active {
        display: flex;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
    }
    .menu-toggle div {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0;
        transition: 0.4s;
    }
}

/**seção principal do site**/

.sec_Primary {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #121212;    
}

.container {
    text-align: center;
    background: #121212;
    padding: 40px;
}

h1 {
    font-size: 3em;
    font-weight: 500;
    margin: 0;
    color: #fff;
    overflow: hidden;
}

.job-title {
    font-size: 1.5em;
    color: #ffffff;
    margin: 20px 0;
}

.job-title span {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(45deg, #49FF00, #eaeaea, #00c3ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: moveGradient 3s ease infinite;
}

.highlight span {
    display: inline-block;
    opacity: 0;
    font-weight: 700;
}

.container p {
    width: 70%;
    margin: auto;
    text-align: justify;
    text-align-last: center;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #fff;
    line-height: 1.3;
}

.container p span{
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(45deg, #00c3ff, #eaeaea, #49FF00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: moveGradient 3s ease infinite;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 25px; /* ajuste o raio conforme necessário */
    transition: transform 0.3s ease;
    background-image: linear-gradient(to right, #00c3ff, #0B3D91); /* degradê de azul para azul mais escuro */
    border: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(5, 118, 247, 0.411), rgba(0, 255, 242, 0.493)); /* degradê transparente */
    transition: left 0.3s ease; /* animação da posição */
}

.btn:hover::after {
    left: 0;
}

.btn:hover {
    transform: translateY(-5px);
}

.btn:active {
    transform: translateY(0);
    transition-duration: 0.1s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

@media screen and (max-width: 768px) {
    .container p {
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .container {
        padding: 20px;
    }
    
    h1 {
        font-size: 2.5em;
    }
    
    .job-title {
        font-size: 1.2em;
        margin: 15px 0;
    }
    
    .container p {
        width: 100%;
        font-size: 1em;
    }
    
    .btn-container {
        flex-direction: column;
        gap: 10px;
    }
}

/**Estilo de transição**/

canvas {
    width: 100%;
}

.capa {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.imagem-fundo {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 102, 255, 0.541), rgba(0, 60, 255, 0.534));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

.texto-principal {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(2, 2, 2, 0.5);
}

.subtexto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

.subtexto a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
}

.subtexto a:hover {
    color: rgb(137, 154, 248);
}

.imagem-pequena {
    position: absolute;
    top: 30px;
    right: 10px;
    width: 140px;
    height: auto;
    z-index: 1;
    transition: transform 0.5s ease-in-out;
}

@media (max-width: 768px) {
    .capa {
        height: 180px;
    }

    .texto-principal {
        display: none;
        font-size: 24px;
        top: 35%;
    }

    .subtexto {
        font-size: 30px;
        top: 45%;
    }

    .imagem-pequena {
        width: 120px;
        top: 20px;
        right: 8px;
    }
}

@media (max-width: 480px) {
    .capa {
        height: 160px;
    }

    .texto-principal {
        display: none;
        font-size: 30px;
        top: 40%;
    }

    .subtexto {
        font-size: 14px;
        top: 40%;
    }

    .imagem-pequena {
        width: 100px;
        top: 15px;
        right: 5px;
    }
}

/**conteúdo sobre mim**/

main {
    background-color: #0c0c0c;
    line-height: 1.6;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

.box_main h2 {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(45deg, #49FF00, #eaeaea, #00c3ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: moveGradient 3s ease infinite;
}

.box_main p {
    margin-bottom: 20px;
    color: #fff;
}

#sobre-mim {
    border-bottom: 1px solid #fff; /* Linha divisória entre seções */
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.box_main ul {
    list-style-type: none; /* Remover marcadores de lista */
    padding-left: 20px;
}

.box_main li {
    margin-bottom: 10px;
    color: #fff;
}

#meu-foco {
    border-top: 1px solid #fff; /* Linha divisória acima do foco */
    padding-top: 20px;
    margin-top: 40px;
}

.images-container img {
    display: inline-block;
    margin-right: 90px; /* Adicione margem direita para espaçamento entre as imagens */
    margin-left: 100px;
    margin-top: 30px;
    max-width: 60px;
    transition: 0.8s;
}

.images-container img:hover {
    scale: 1.3;
}

@media only screen and (max-width: 600px) {


    .box_main h2 {
        font-size: 20px;
    }

    .images-container img {
        display: none;
    }
}

/**Portifólio**/

.pt {
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    font-weight: 800;
    background: linear-gradient(45deg, #49FF00, #00c3ff, #fff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: moveGradient 3s ease infinite;
}

#portfolio {
    background-color: #0c0c0c;
    height: 100vh;
}

#filters {
    background-color: #0c0c0c;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

#filters button {
    color: #fff;
    font-weight: 900;
    background-color: #03a2d3;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    margin: 15px;
    margin-top: 100px;
    cursor: pointer;
    transition: 0.5s;
}

#filters button:hover {
    color: #121212;
    background-color: #00c3ff;
    scale: 1.1;
}

#carousels {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.carousel {
    width: 90%;
    display: none;
    border: 3px solid #cccccc00;
    border-radius: 15px;
    background-color: #121212;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel.active {
    display: block;
}

.project {
    text-align: center;
    margin-bottom: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.project img {
    max-width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 10px;
}

.project img:hover {
    box-shadow: 0 0 4px rgba(214, 213, 213, 0.644);
}

.project button {
    border-radius: 8px;
    border: none;
    color: #fff;
    background-color: #03a2d3;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: auto;
    transition: 0.5s;
}

.project button:hover {
    color: #121212;
    background-color: #00c3ff;
    scale: 1.1;
}

.project h3 {
    margin-bottom: 10px;
    color: #fff;
}

.slick-slide {
    margin: 10px;
}

.slick-prev, .slick-next {
    color: black;
}

.slick-prev, .slick-next {
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    #filters button {
        padding: 2vh 3vw;
    }
    
    .carousel {
        width: 80vw;
    }
    
    .project {
        height: auto;
    }
    
    .project img {
        height: 12vh;
    }
    
    .project button {
        padding: 2vh 3vw;
    }

    .carousel {
        width: 90vw;
    }

    .carousel.active {
        display: block;
    }

    .slick-slide {
        margin: 1vh;
        width: 45%;
    }
}

@media screen and (max-width: 480px) {
    #filters button {
        padding: 1vh 2vw;
    }
    
    .carousel {
        width: 70vw;
    }
    
    .project {
        height: auto;
    }
    
    .project img {
        height: 10vh;
    }
    
    .project button {
        padding: 1vh 2vw;
    }

    .carousel {
        width: 80vw;
    }

    .carousel.active {
        display: block;
    }

    .slick-slide {
        margin: 0.5vh;
        width: 40%;
    }
}

/**Contatos**/

footer {
    background-color: #0c0c0c;
    color: #fff;
    padding: 150px 0;
}

footer .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 100px;
}

footer .contact-title {
    text-align: center;
    margin-bottom: 60px;
}

footer ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    color: #00c3ff;
    
}

footer .contact-logos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-left: 15%;
    margin-right: 15%;
}

footer .contact-logos a img {
    width: 35px;
    height: 35px;
    transition: 0.5s;
}

footer .contact-logos a img:hover {
    scale: 1.4;
}

.contact-title, .h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    background: linear-gradient(45deg, #49FF00, #00c3ff, #49FF00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: moveGradient 3s ease infinite;
}

.end {
    color: #fff;
    background-color: #121212;
    width: 100%;
    height: 50px;
    text-align: center;
}

.end p {
    padding: 15px;
}

.end p a {
    text-decoration: none;
    color: #49FF00;
}

.end p a:hover {
    color: #0D630D;
}

@media only screen and (max-width: 600px) {
    footer {
        padding: 75px 0;
    }

    footer .container {
        max-width: 100%;
        padding: 25px 50px;
    }

    footer ul {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    footer .contact-logos {
        flex-direction: row; /* Alterado de 'column' para 'row' */
        flex-wrap: wrap; /* Adicionado para permitir que os itens se ajustem à linha seguinte se necessário */
        justify-content: center; /* Adicionado para centralizar os itens */
        margin-left: 0;
        margin-right: 0;
    }

    footer .contact-logos a img {
        margin: 10px;
    }

    footer ul li {
        margin-bottom: 30px;
    }

    hr {
        display: none;
    }
}

/**Obrigado pela visita!!!**/